@inject IGame GameCore; 
<GameBar BombsCount="@BombsCount" @ref="@gameBar"/>
<div style="grid-template-columns: repeat(@ColumnsCount, auto)" class="grid-container">
    @for (int i = 0; i < RowsCount; i++)
    {
        for (int j = 0; j < ColumnsCount; j++)
        {
            int i2 = i;
            int j2 = j;
            <Cell @ref="@cells[i2,j2]" Value="closed" RowIndex="i" ColumnIndex="j" OnCellClicked="@OpenCell" OnCellClickedByRightButton="@MarkCellAsBomb">

            </Cell>
        }
    }
</div>
<ModalDialog Title="Game Over" PrimaryButtonText="New game" OnPrimaryButtonClicked="@StartNewGame" @ref="@modalDialog"/>

